:root {
  --opt_1_background: #6ccdba;
  --opt_1_color: #269602;
  --opt_2_background: #caf459;
  --opt_2_color: #36c20a;
}
body {
  display: flex;
  flex-direction: column;
  min-width: 420px;
  background-color: #20715b;
  color:#73df51;
}

header {
  flex: 0 80px;
  background-color: #20715b;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: top;
  background-color: #20715b;
  color:#73df51;
  padding-top: 65px;
}

footer {
  flex: 0 30px;
}

menu {
  flex: 1;
  display: flex;
  /* overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
  background-color: #20715b;
  --bs-nav-link-color:#41b39d !important;
  --bs-navbar-active-color: #73df51;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid #D9f883 thin;
  background-color: #20715b;
  color:#73df51;
  font-size: 5vmin !important;
}

menu .nav-item {
  padding: 0 0.3em;
  font-size: 2.5vmin;
}

footer a {
  float: right;
}

.navbar-custom .navbar-text,
.navbar-custom .navbar-brand {
  color: #73df51 !important;
}

.navbar-custom {
  background-color: #20715b;
  color:#73df51;
}

.spacer {
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  justify-content: center;
  padding-top: 20px;
  gap: 40px;
}

.option {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  text-align: center;
  background-color: var(--opt_1_background);
  color: var(--opt_1_color);
  height: 50vh;
  width: 30vh;
}

.option:nth-child(2) {
  background-color: var(--opt_2_background);
  color: var(--opt_2_color);
}

.option > div {
  font-size: 50px;
  position: relative;
  top: 30px;
}

.option > button {
  position: relative;
  top: 10vh;
  background-color: #73df51;
}

#results {
  margin-top: 25px;
  height: fit-content;
  width: max-content;
  align-self: center;
  text-align: left;
  padding: .5em .5em;
}

#results > div:nth-child(1) {
  font-size: 25px;
}

.next {
  margin-top: 25px;
  height: fit-content;
  width: 8vh;
  align-self: center;
  background-color: #73df51;
}

@media (max-height: 700px) {

  footer {
      display: none;
  }
}

.opt1 {
  background-color: var(--opt_1_background);
  color: var(--opt_1_color);
}

.opt2 {
  background-color: var(--opt_2_background);
  color: var(--opt_2_color);
}

.players {
  position: absolute;
  top: 5vh;
  right: 10vh;
  z-index: 10000;
}

.player-name {
  color: rgb(118, 190, 210);
}

#player-messages {
  padding-top: 0.25em;
  opacity: 0.7;
}

.event {
  color: rgb(69, 69, 69);
}

.player-event {
  color: rgb(165, 220, 235);
}

.system-event {
  color: rgb(221, 148, 40);
}